* {
  box-sizing:border-box;
}
body {
  font-size: 14px; 
}
.main-container{
  display: flex;
  justify-content: center;
  top: 10px;

  
}
.image1{
  
  width: 1440px;
  height: 800px;
  border: 2px solid yellow;
  background-position: center;
  background-attachment: fixed;
  background-size: contain; 
  
}
.flex-container1{
  display: flex;
  position: absolute;
  
}

.flexbox-container2{
  
  position: fixed;
  top: 40px; 
  
}

.flexbox-item{

  width:150px;
  height:50px;
  color: white;
  border: 2px solid yellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: blue;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
}

.flexbox-item:hover{
  background-color: red;
}

.flexbox-container3-home{
  
  top: 15%;
  background-color: white;
  height: 800px;
  width: 90%;
  background-color: aliceblue;
  border: 1px solid blue;
  margin: 0% 20px;
  padding: 0% 20px;
  position: absolute;
  overflow: scroll;
  
}


.flexbox-container3{
  
  top: 15%;
  background-color: white;
  height: 800px;
  width: 90%;
  background-color: aliceblue;
  border: 1px solid blue;
  overflow: scroll;
  margin: 0% 20px;
  padding: 0% 20px;
  position: absolute;
  overflow: scroll;
  
}
h1 {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
} 
p {
  
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 26px;
 
 }


/*------ MEDIA QUERY-------------*/
@media screen and (max-width: 768px) {


  .main-container{
  
    flex-shrink:auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: 2px 2px;
    padding: 2px auto;
    justify-content: center;
  
  }
  .flexbox-container1 {
    display: flex;
    margin: 2px 2px;
    padding: 2px auto;
    justify-content: center;
    
  }
  .image1{

    width: fit-content;
    height: fit-content;
    margin: 2px 2px;
    
  }

  .flexbox-container2 {
   
    width: fit-content;
    height: fit-content;
    justify-content: center;
  }
  .flexbox-item{
    justify-content: center;
    flex-shrink: auto;
  }
  .flexbox-container3 .flexbox-container3-home{
    display: flex;
    flex-shrink:1;
    justify-content: center;
    margin: 2px auto;
    padding: auto; 
   
  }
  h1 p{
    flex-shrink: auto;
    justify-content: center;
  } 

 

}

