* {
  box-sizing:border-box;
}
body {
  font-size: 14px; 
}
.main-container{
  display: flex;
  justify-content: center;
  top: 10px;

  
}
.image1{
  width: 1440px;
  height: 900px;
  border: 2px solid yellow;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; 
  
  
}
.flex-container1{
  display: flex;
  position: absolute;


}

.flexbox-container2{
  display: flex;
  position: fixed;
  top: 20px; 
  
}



.flexbox-item{

  width:150px;
  height:50px;
  color: white;
  border: 2px solid yellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: blue;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
}

.flexbox-item:hover{
  background-color: red;
}

.flexbox-container3-home{
  
  top: 15%;
  background-color: white;
  height: fit-content;
  width: fit-content;
  background-color: aliceblue;
  border: 1px solid blue;
  margin: 0% 20px;
  padding: 0% 10px;
  position: absolute;
  
}


.flexbox-container3{
  
  top: 15%;
  background-color: white;
  height: 100%;
  width: 85%;
  background-color: aliceblue;
  border: 1px solid blue;
  overflow: scroll;
  margin: 0% 10px;
  padding: 5% 20px;
  position: absolute;
  overflow: scroll;
  justify-content: center;
  
  
  
  
}
h1 {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
 
 
} 
p {
  
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
 
 }


/*------ MEDIA QUERY-------------*/
@media screen and (max-width: 768px) and (min-width:390px){


  .main-container{
    background-attachment:center;
    background-position:center;
    background-repeat: no-repeat;
    justify-content: center;
    margin: 0 0;
   
 
   
   
  
  }
  .flexbox-container1 {
    flex-shrink:auto;
    
     
  }
  .image1{
    
    width: min-content;
    margin: 0 auto;
    
    
  }

  .flexbox-container2 {
    flex-shrink:auto;
    margin: auto auto;
    justify-content: center;
   
    
  }
  .flexbox-item{
    height: fit-content;
    width: fit-content;
    justify-content: center;

  }
  .flexbox-container3 .flexbox-container3-home{

    flex-shrink:auto;
    display: flex;
    
    

   
  }
  h1 p{
    flex-shrink: 1;
    
    
  } 

 

}

